@{
    Enum.TryParse<Roleplay.Models.TipoStaff>(((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role).Value, out Roleplay.Models.TipoStaff tipo);
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Segunda Vida Roleplay</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/icons.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/vendor/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/css/vendor/jquery-confirm.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
</head>
<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false,"leftSidebarCondensed":false,"leftSidebarScrollable":false,"darkMode":false,"showRightSidebarOnStart": true}'>
    <div class="wrapper">
        <div class="left-side-menu">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo text-center logo-light">
                <span class="logo-lg text-white">
                    Loft English
                </span>
                <span class="logo-sm text-white">
                    Loft
                </span>
            </a>
            <div class="h-100" id="left-side-menu-container" data-simplebar>
                <ul class="metismenu side-nav">
                    <li class="side-nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="side-nav-link">
                            <i class="mdi mdi-home text-white-50"></i>
                            <span class="text-white-50"> Início</span>
                        </a>
                    </li>

                    @if ((int)tipo >= (int)Roleplay.Models.TipoStaff.Moderator)
                    {
                        <li class="side-nav-title side-nav-item text-white-50">Moderator</li>
                        <li class="side-nav-item">
                            <a asp-area="Admin" asp-controller="AplicacoesPersonagens" asp-action="Index" class="side-nav-link">
                                <i class="mdi mdi-account text-white-50"></i>
                                <span class="text-white-50"> Aplicações de Personagens </span>
                            </a>
                        </li>
                    }

                    @if ((int)tipo >= (int)Roleplay.Models.TipoStaff.LeadAdministrator)
                    {
                        <li class="side-nav-title side-nav-item text-white-50">Lead Administrator</li>
                        <li class="side-nav-item">
                            <a asp-area="Admin" asp-controller="Logs" asp-action="Index" class="side-nav-link">
                                <i class="mdi mdi-view-list text-white-50"></i>
                                <span class="text-white-50"> Logs </span>
                            </a>
                        </li>
                    }
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="content-page">
            <div class="content">
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                               aria-expanded="false">
                                <span class="account-user-avatar">
                                    <i class="mdi mdi-account mdi-24px"></i>
                                </span>
                                <span>
                                    <span class="account-user-name">@User.Identity.Name</span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <a asp-area="" asp-controller="Home" asp-action="Sair" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout mr-1"></i>
                                    <span>Sair</span>
                                </a>

                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left disable-btn">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    @RenderSection("titleright", required: false)
                                </div>
                                <h4 class="page-title">@ViewData["Title"]</h4>
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/app.min.js"></script>
    <script src="~/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/js/vendor/loadingoverlay.min.js"></script>
    <script src="~/js/vendor/jquery-confirm.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/segundavida.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>